/* navigation section */

nav{
    background-color: #9D135D ;
    margin-right:10%;
    margin-left:10%;
}

ul{
    display:flex;
    align-content: flex-start;
    padding-left: 5%;
}

li{
    display: flex;
    align-items:flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

/* end nav */

/* hero image! */
body{
    background-color: #081151 ;
}


.containerGrid{
    color:aliceblue;
    font-style: italic;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:grid;
    align-items:flex-end;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "topRow topRow topRow"
        "leftSidebar rightContent"
        ;
    
}

.topRow{
    font-weight: bold;
    color:rgb(97, 159, 244);
    align-items: center;
    grid-column: 4/6;
    grid-row: 1;
    padding: 0;
    margin: none;

}

.leftSidebar{
    font-weight:800px;
    color:rgb(67, 74, 216);
    grid-column: 3/6;
    grid-row: 2;
    padding-left: 50px;

}

.rightContent{
    font-size: larger;
    font-weight: 900;
    grid-column: 6;
    grid-row: 1;
    padding-right: 10px;
}

#logo{
    display:flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 20px;
    padding-left: 100px;
}

#about-me, #resume, #mywork{
    align-items: flex-start;
    justify-content: center;
}

ul{
    padding-left: 300px;
}


.CSA{
    color:#fbfba5;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;

}


.blurb{
    color:aliceblue;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

button{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    background-color: #f76f91;
    color:aliceblue;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

/* end hero Image */


/* Case Studies*/

.header{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    color: #152497;
}

section{
    background-color: lightblue;
}

#liftup, #humanesoc, #treasd{
    display:flex;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 60%;
}

#lift{
    border-radius: 10px;
    margin: 0 auto;
    align-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-areas:
    "... ... title title ..."
    "... ... subt subt ..."
    "... logo info info ..."
    "... ... info info ..."
    "... ... full ...  ..."
    ;
}

#humane, #treas{
    border-radius: 10px;
    margin: 0 auto;
    align-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-areas:
    "... title title title ..."
    "... logo info info ..."
    "... ... info info ..."
    "... ... full ... ..."
    ;
}

#lift{
    background-color: rgb(249, 249, 157);
}

#humane{
    background-color: rgb(245, 99, 106);
}

#treas{
    background-color: #ffff;
}


#ttitle, #htitle{
    grid-area: title;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}

#ltitle{
    padding-top: 40px;
    margin: 0;
    grid-area: title;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#73278a;
    font-size: 40px;
}

.full{
    grid-area: full;
    padding-bottom: 20px;
}

.button3{
    background-color: rgb(188, 211, 238);
    color:#0d1973;
}

.buttonall{
    width: 500px;
    height: 100px;
    font-size: 36px;
}

.subtitle{
    grid-area: subt;
    padding-bottom: 20px;
    font-size: 20px;
    color:#73278a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ltitle{
    color:#73278a;
    font-size: 36px;
    margin: 0;
}

.subtitle{
    font-size:32px;
}

#htitle{
    color:#ffff;
    font-size: 24px;
}

#ttitle{
    color:#081151;
    font-size:24px;
}

#llogo, #hlogo, #tlogo{
    grid-area: logo;
    padding-bottom: 50px;
}

#linfo, #hinfo, #tinfo{
    grid-area: info;
    padding-left: 10px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#linfo{
    color:#73278a;
}

#hinfo{
    color:antiquewhite;
}

#tinfo{
    color: #081151;
}

.button2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin: auto;
    background-color: lightblue;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

/* END CASE STUDIES */

/*footer section*/

.foot{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}

.footer{
    font-size: 24px;
    margin: 10px;
    padding-top: 20px;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social{
    margin: 10px;
}

p.contact{
    display:flex;
    justify-content: center;
    font-size: 24px;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Other */

hr{
    height: 4px;
}


p{
    margin: auto;
    padding: 0;
}