/* navigation section */

nav{
    background-color: #9D135D ;
    width: 100%;
}


@media screen and (max-width: 700px){
    nav{
        width: 50%;
        background-color: #081151;
        
    }
}


ul{
    display:flex;
}

@media screen and (max-width: 700px){
    ul{
        justify-content:center;
    }
}



li{
    display: flex;
    align-items:flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 700px){
    li{
    display: inline-block;
    }
}

/* end nav */

/* hero image! */
body{
    background-color: #081151 ;
}

div .containerGrid{
    justify-content: center;
    align-content: center;
}

.containerGrid{
    color:aliceblue;
    font-style: italic;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr;
    grid-template-areas:
        "...topRow topRow rightContent..."
        " ... ... leftSidebar leftSidebar leftSidebar"
    
}

@media screen and (max-width: 700px){
    .containerGrid{
        font-size: 36px;
    }
}


.topRow{
    font-weight: bold;
    color:rgb(97, 159, 244);
    grid-area: topRow;

}

.leftSidebar{
    font-weight:800px;
    color:rgb(67, 74, 216);
    grid-area: leftSidebar;

}


.rightContent{
    font-size: larger;
    font-weight: 900;
    grid-area: rightContent;
}

#logo{
    display:flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 20px;
    padding-left: 100px;
}

#about-me, #resume, #mywork{
    align-items: flex-start;
    justify-content: center;
}

ul{
    padding-left: 300px;
}


.CSA{
    color:#fbfba5;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;

}

@media screen and (max-width: 700px){
    .CSA{
        font-size: 24px;
    }
}


.blurb{
    color:aliceblue;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 700px){
    .blurb{
        font-size: 18px;
        padding:0;
    }
}

.button{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

button{
    height: 60px;
    width: 250px;
    border-radius: 5px;
    background-color: #f76f91;
    color:aliceblue;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

/* end hero Image */


/* Case Studies*/

.header{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    color: #152497;
}

@media screen and (max-width:700px){
    .header{
        font-size: 48px;
    }
}

section{
    background-color: lightblue;
}


#liftup, #humanesoc, #treasd{
    display:flex;
    align-content: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    width: 75%;
}

@media screen and (max-width: 700px){
    #liftup, #humanesoc, #treasd{
        width: 100%;
    }

}   





#lift{
    border-radius: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-areas:
    "... ... title title ..."
    "... ... subt subt ..."
    "... logo info info ..."
    "... ... info info ..."
    "... ... full ...  ..."
    ;
}

@media screen and (max-width:700px){
    #lift{
        align-content: center;
        justify-content: center;
    }
}

#humane, #treas{
    border-radius: 10px;
    margin: 0 auto;
    align-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    grid-template-areas:
    "... title title title ..."
    "... logo info info ..."
    "... ... info info ..."
    "... ... full ... ..."
    ;
}

#lift{
    background-color: rgb(249, 249, 157);
}

#humane{
    background-color:rgb(249, 148, 137);
}

#treas{
    background-color: #ffff;
}


#ttitle, #htitle{
    grid-area: title;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}


#ltitle{
    padding-top: 40px;
    margin: 0;
    grid-area: title;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#be31e9;
    font-size: 40px;
}

@media screen and (max-width:700px){
    #ltitle{
        font-size: 20px;
    }
}



.full{
    grid-area: full;
    padding-bottom: 20px;
}

.caseimg{
    display:flex;
    width: 300px;
    height: 300px;
}


@media screen and (max-width:700px){
    .caseimg{
        width: 200px;
        height: 200px;
        padding: 10px;
    }
}

.button3{
    background-color: rgb(188, 211, 238);
    color:#0d1973;
    width: 250px;
    height: 75px;
    font-size: 24px;
}

@media screen and (max-width:700px){
    .button3{
        width: 125px;
        height: 65px;
        font-size: 18px;
    }
}

.buttonall{
    width: 500px;
    height: 100px;
    font-size: 36px;
}

@media screen and (max-width:700px){
   .buttonall{
        font-size: 18px;
        width: 300px;
        height: 75px;
    }
}


.subtitle{
    grid-area: subt;
    padding-bottom: 20px;
    font-size: 20px;
    color:#73278a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.subtitle{
    font-size:32px;
}

@media screen and (max-width:700px){
    .subtitle{
        font-size: 20px;
    }
}


#htitle{
    color:rgb(207, 249, 253);
    font-size: 24px;
}

@media screen and (max-width:700px){
    #htitle{
        font-size: 16px;
        margin: 0 auto;
    }
}

#ttitle{
    color:#081151;
    font-size:24px;
}

@media screen and (max-width:700px){
    #ttitle{
        font-size: 16px;
        margin: 0 auto;
    }
}

#llogo, #hlogo, #tlogo{
    grid-area: logo;
    padding-bottom: 50px;
}

#linfo, #hinfo, #tinfo{
    grid-area: info;
    padding-left: 10px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

@media screen and (max-width:700px){
    #linfo, #hinfo, #tinfo{
        font-size: 14px;
    }
}

#linfo{
    color:#73278a;

}

#hinfo{
    color:rgb(250, 241, 229);

}

#tinfo{
    color: #081151;
}

.button2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin: auto;
    background-color: lightblue;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


/* END CASE STUDIES */

/*footer section*/

.foot{
    display: block;
}

.footer{
    display: inline-block;
    font-size: 24px;
    padding: 10px;
    margin: 0 auto;

}


p.contact{
    display:flex;
    justify-content: center;
    font-size: 24px;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Other */

hr{
    height: 4px;
}


p{
    margin: auto;
    padding: 0;
}
